body{
    z-index: 1;
}
nav{
    z-index: 10;
}
html {
    scroll-behavior: smooth;
  }

a{
   color: #FFFFFF;
   text-decoration: none;
}
.db1{
    background: #000000;
}

.db2{
    background: #FFFFFF;
}                                   
.db3{
    background:  #0d0d0d;
}
.db4{
    background-image:linear-gradient(#FF4B0A,#FF0246);
}


/*
--e-global-color-primary: #FFFFFF;
--e-global-color-secondary: #FF4B0A;
--e-global-color-text: #FFFFFF;
--e-global-color-accent: #FF0246;
--e-global-color-c40f6d3: #000000;
--e-global-color-12f9b18: #FF4B0A;
--e-global-color-b416dec: #FF0046;
--e-global-color-7008e7a: #FFEB00;
--e-global-color-3c8f2bf: #FFFFFF;
--e-global-color-7807719: #000000BD;
--e-global-color-0cce5cb: #FFFFFFB3;
--e-global-color-af8bfb7: #F7F7F7;
--e-global-color-e094f8a: #ADADAD;
--e-global-color-ec38f99: #777777;
--e-global-color-7c06ee6: #333333;
*/




.nvtext{
    padding-top: 0.5em;
    text-align: center;
    color: #000000;
    font-size: 80px;
    font-weight: 900;
}
.udtext{
    text-align: center;
    color: #000000B3;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}

.paceing{
    margin-bottom: -1.5em;
    margin-top: 0;
    z-index: 10;
}


.logo{
    padding-right: 5em;
}

.div1{
    height: 5em;
    max-width: 100%;
}
.div2{
    height: 60em;
    max-width: 100%;
}
.div3{
    height: 13em;
    max-width: 100%;
}
.div4{
    height: 45em;
    max-width: 100%;
}
.div5{
    height: 16em;
    max-width: 100%;
}
.div6{
    height: 7em;
    max-width: 100%;
}


.move{
    display: hidden;
    position: absolute;
}
.move2{
    padding: 1.5em;
}





.hero-image1 {
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(/images/HeroWarp-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px auto;
    padding-top: 100px;
  }

.hero-image2 {
    background-color: #ffffff;
    background-image: url(/images/WarpFaded-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px auto;
    padding-top: 100px;
    transform: rotate();

}
.hero-image3 {
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(/images/HeroWarp-1-1024x780-1-e1612360789872.png);
    filter: grayscale(100%);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 1700px 675px;
  }

.hero-text {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 0.5em;
}

.midja{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}


.rem{
    /*visibility: hidden;*/
    display:none !important; 
    visibility:hidden !important;
}




.place244{
  bottom: 30%;
}

.responsive-iframe {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.hovering:hover{
    border-bottom: 2px solid #FF4B0A;
}


.animate1 {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.5;
      }
    100% {
      opacity: 1;
    }
  }



/* ----------------------------------------------------------------------- */

.feedback-input {
    color:rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid;
    border-image-slice: 1;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .borderfeedbackcolor{
    border-image-source:linear-gradient(#FF4B0A,#FF0246);
  }
  
  .feedback-input:focus { border:2px solid #000000; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #000000;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#FF4B0A; }

/* ----------------------------------------------------------------------- */





div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 0.5em;
    grid-gap: 0;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }


.boxi{
    background-color: #FF0246;
    border-radius: 5px 5px;
    line-height: 1.6;
}


.midp{
    font-size: 21px;
    text-align: center;
}

.smalp{
    font-size: 11px;
    margin-bottom: 0;
    text-align: center;
}

.gridi1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5em;
}

.gridi2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}



.downpush{
    margin-top: 0.5em;
}

.col-6-2{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.kassia{
}

.kassid{    
    min-width: 270px !important;
    height: 75px;
    position: relative;
    background-color: #0d0d0d;
    padding: 10px;
    border-top: solid 1px #2c2c2c;
    border-left: solid 1px #2c2c2c;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    color: #444;
    justify-content: center;
    padding: 0;
  }

.mt{
    max-height: 100%;
    max-width: 100%;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}


.cali-a{
    padding: 0;
}









.col-2-2{
    display: grid;
    grid-template-columns: 1fr;
}















































/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media all and (min-width:320px)  { 
    .hero-text{
        top: 30%;
    }
    .menu {
        justify-content: center;
        width: 85%;
      }

 }
/* smartphones, Android phones, landscape iPhone */ 
@media all and (min-width:480px)  {    
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #000000BD;
        padding-right: 10px;
        content: attr(data-label);
        text-align: center;
        padding-left: 10px;
    }

    .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: grid;
        justify-content: space-between;
        margin-bottom: 25px;
    }    
    li.table-header{
        display: none;
    }
    .hero-text{
        font-size: 50%;
        top: 30%;
        padding-top: 2em;
    }
}


 /* Tablet menu */
 @media all and (min-width: 700px) {
    .col-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  



    .rem{
        display: block !important; 
        visibility: visible !important;
    }

    .col-6-2 {
        grid-template-columns: repeat(6, 1fr);
        grid-gap:1em;
      }

    .responsive-table .col:before{
        display: none;
    }
    .responsive-table .table-header {
        background-image:linear-gradient( to right, #FF4B0A,#FF0246);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table .col-1 {
        flex-basis: 10%;
    }
    .responsive-table .col-2 {
        flex-basis: 40%;
    }
    .responsive-table .col-3 {
        flex-basis: 25%;
    }
    .responsive-table .col-4 {
        flex-basis: 25%;
    }
    .logo{
        padding: 0;
        margin-left: 2.5em;
    }
    .move{
        position: relative;
        margin-top: -7em;
        width:  65%;
        height: 100%;
        margin-left: 4.5em;
        z-index: 10;
    }

}
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .col-6f-2 {
        grid-template-columns: repeat(6, 1fr);
    }
    .col-6f {
        display: grid;
        row-gap: 1em;
    }
    .move{
        max-width:  50%;
    }
    .move2{
        padding-left: 6em;
    }
  }