body{
    z-index: 1;
}
nav{
    z-index: 10;
}
html {
    scroll-behavior: smooth;
  }

a{
   color: #FFFFFF;
   text-decoration: none;
}
.db1{
    background: #000000;
}

.db2{
    background: #FFFFFF;
}                                   
.db3{
    background:  #0d0d0d;
}


/*
--e-global-color-primary: #FFFFFF;
--e-global-color-secondary: #FF4B0A;
--e-global-color-text: #FFFFFF;
--e-global-color-accent: #FF0246;
--e-global-color-c40f6d3: #000000;
--e-global-color-12f9b18: #FF4B0A;
--e-global-color-b416dec: #FF0046;
--e-global-color-7008e7a: #FFEB00;
--e-global-color-3c8f2bf: #FFFFFF;
--e-global-color-7807719: #000000BD;
--e-global-color-0cce5cb: #FFFFFFB3;
--e-global-color-af8bfb7: #F7F7F7;
--e-global-color-e094f8a: #ADADAD;
--e-global-color-ec38f99: #777777;
--e-global-color-7c06ee6: #333333;
*/




.nvtext{
    padding-top: 0.5em;
    text-align: center;
    color: #000000;
    font-size: 80px;
    font-weight: 900;
}
.udtext{
    text-align: center;
    color: #000000B3;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}

.paceing{
    margin-bottom: -1.5em;
    margin-top: 0;
    z-index: 10;
}


.logo{
    padding-right: 5em;
}

.div1{
    height: 5em;
}
.div2{
    height: 60em;
}
.div3{
    height: 13em;
}
.div4{
    height: 45em;
}

.hero-image1 {
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(/images/HeroWarp-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px auto;
    padding-top: 100px;
  }

.hero-image2 {
    background-color: #ffffff;
    background-image: url(/images/WarpFaded-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px auto;
    padding-top: 100px;
    transform: rotate();

}

.hero-text {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 0.5em;
}

.midja{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}




/*
.videoplater{
    position: absolute;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
*/



.main{}





/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media all and (min-width:320px)  { 
    .hero-text{
        top: 30%;
    }

 }
/* smartphones, Android phones, landscape iPhone */ 
@media all and (min-width:480px)  {    
    .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #000000BD;
        padding-right: 10px;
        content: attr(data-label);
        text-align: center;
        padding-left: 10px;
    }

    .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: grid;
        justify-content: space-between;
        margin-bottom: 25px;
    }    
    li.table-header{
        display: none;
    }
    .hero-text{
        font-size: 50%;
        top: 30%;
        padding-top: 2em;
    }



 /* Tablet menu */
 @media all and (min-width: 700px) {
    .responsive-table .col:before{
        display: none;
    }
    .responsive-table .table-header {
        background-color: #000000BD;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table .col-1 {
        flex-basis: 10%;
    }
    .responsive-table .col-2 {
        flex-basis: 40%;
    }
    .responsive-table .col-3 {
        flex-basis: 25%;
    }
    .responsive-table .col-4 {
        flex-basis: 25%;
    }
}
  /* Desktop menu */
  @media all and (min-width: 960px) {

  }