body{
    z-index: 1;
}
nav{
    z-index: 10;
}
html {
    scroll-behavior: smooth;
  }

a{
   color: #FFFFFF;
   text-decoration: none;
}




img{
    width: 100%;
    height: 100%;
}







.db1{
    background: #000000;
}

.db2{
    background: #FFFFFF;
}                                   
.db3{
    background:  #0d0d0d;
}
.db4{
    background-image:linear-gradient(#FF4B0A,#FF0246);
}


/*
--e-global-color-primary: #FFFFFF;
--e-global-color-secondary: #FF4B0A;
--e-global-color-text: #FFFFFF;
--e-global-color-accent: #FF0246;
--e-global-color-c40f6d3: #000000;
--e-global-color-12f9b18: #FF4B0A;
--e-global-color-b416dec: #FF0046;
--e-global-color-7008e7a: #FFEB00;
--e-global-color-3c8f2bf: #FFFFFF;
--e-global-color-7807719: #000000BD;
--e-global-color-0cce5cb: #FFFFFFB3;
--e-global-color-af8bfb7: #F7F7F7;
--e-global-color-e094f8a: #ADADAD;
--e-global-color-ec38f99: #777777;
--e-global-color-7c06ee6: #333333;
*/




.nvtext{
    padding-top: 0.5em;
    text-align: center;
    color: #000000;
    font-size: 80px;
    font-weight: 900;
}
.udtext{
    text-align: center;
    color: #000000B3;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
}


.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
h2 small {
    font-size: 0.5em;
}

.paceing{
    margin-bottom: -1.5em;
    margin-top: 0;
    z-index: 10;
}


.logo{
    padding-right: 5em;
}

.div1{
    height: 5em;
    max-width: 100%;
}
.div2{
    height: 60em;
    max-width: 100%;
}
.div3{
    height: 50%;
    max-width: 100%;
}
.div4{
    height: 45em;
    max-width: 100%;
}
.div5{
    height: 25em;
    max-width: 100%;
}
.div6{
    max-height: 100%;
    max-width: 100%;
}


.move{
    display: hidden;
    position: absolute;
}
.move2{
    padding: 1.5em;
}


.overs{
    position:relative;
    z-index: 10;
}


.hero-image1 {
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(/images/HeroWarp-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px auto;
    margin-top: 0em;
    padding-top: 100px;
  }

.hero-image2 {
    background-color: #ffffff;
    background-image: url(/images/WarpFaded-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1700px auto;
    transform: rotate();

}
.hero-image3 {
    position: relative;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(/images/HeroWarp-1-1024x780-1-e1612360789872.png);
    filter: grayscale(100%);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto auto;
  }

.hero-text {
    display: block;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 0.5em;
}

.midja{
    display: flex;
    justify-content: center;
    padding-top: 4em;
}


.rem{
    /*visibility: hidden;*/
    display:none !important; 
    visibility:hidden !important;
}




.place244{
  bottom: 30%;
}

.video_wrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.hovering:hover{
    border-bottom: 2px solid #FF4B0A;
}


.animate1 {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
  
  @keyframes animate-fade {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.5;
      }
    100% {
      opacity: 1;
    }
  }



/* ----------------------------------------------------------------------- */

.feedback-input {
    color:rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid;
    border-image-slice: 1;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .borderfeedbackcolor{
    border-image-source:linear-gradient(#FF4B0A,#FF0246);
  }
  
  .feedback-input:focus { border:2px solid #000000; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #000000;
    border-radius:5px;
    border:0;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#FF4B0A; }

/* ----------------------------------------------------------------------- */





div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 0.5em;
    grid-gap: 0;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }


.boxi{
    background-color: #FF0246;
    line-height: 1.6;
    max-height: 60%;
    max-width: 60%;
    margin-right: 5em;
}


.midp{
    font-size: 25px;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

.smalp{
    font-size: 11px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 2.8em;
}

.smalpboxi{
    font-size: 11px;
    margin-bottom: 0;
    text-align: center;
}

.midp2{
    color: #000000;
    font-size: 21px;
    text-align: left;
}


.smalp2{
    font-size: 11px;
    margin-bottom: 0;
    text-align: left;
    color: #000000;
}

.gridi1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0em;
}

.gridi2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.no-gap{
    grid-gap: 0;
}

.downpush{
    margin-top: 0.5em;
}

.col-6-2{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}




.takki{
    min-width: 100% !important;
    height: 100%;
}
.takki:hover{
    background-color: rgba(22, 22, 22, 0.2);
}



.kassid{    
    min-width: 270px !important;
    height: 100%;
    position: relative;
    background-color: #0d0d0d;
    margin-bottom: 0.8em;
    border-top: solid 1px #2c2c2c;
    border-left: solid 1px #2c2c2c;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    color: #444;
    justify-content: center;
    padding: 0;
  }

.mt{
    max-height: 100%;
    max-width: 85%;
    background-color: #f7f7f7;
    color: #fff;
    font-size: 150%;
    place-self: center;
    margin-top: 1.5em;

}

.stut{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.cali-a{
    padding: 0;
}


.col-2-2{
    display: grid;
    grid-template-columns: 1fr;
}

.filla{
    height: 100%;
    width: 100%;
}


.cont{
    padding: 10px;

}

.cont2{
    margin-bottom: 7.8em;
    margin-left: 7.8em;
    margin-right: 7.8em;
}

.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 250%;
    text-align: center;
    color: #ececec;
    margin-bottom: -0.5rem;
    padding-top: 5px;
}

.textu{
    font-size: 136%;
    color: #ececec;
    padding-top: 10px;
    padding-bottom: 5px;
}


[type="submit2"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: transparent;
    border:0;
    cursor:pointer;
    color:rgb(255, 255, 255);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    cursor: pointer;
    font-weight:700;
  }
  [type="submit2"]:hover { background:rgba(0, 0, 0, 0.2); }

.title3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
    text-align: center;
    color: #222222;
    margin-bottom: -0.5rem;
}
.title4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 85%;
    text-align: center;
    color: #222222;
    margin-bottom: -0.5rem;
    padding-top: 5px;
}

[type="submit3"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 50%;
    background-color: transparent;
    border:0;
    cursor:pointer;
    color:rgb(41, 40, 40);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    cursor: pointer;
    text-align: center;
  }

[type="submit3"]:hover { background:rgba(0, 0, 0, 0.2); }

[type="submit3"]:active { background-color: blue;}
  
  
  [type="submit4"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 50%;
    background-color: #FF0246;
    border:0;
    cursor:pointer;
    color:rgb(255, 255, 255);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
    cursor: pointer;
    text-align: center;
  }
  [type="submit4"]:hover { background:rgba(0, 0, 0, 0.2); color: #000000;}




.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
}
.image-box img {
    transition: all 0.3s;
    display: block;
    transform: scale(1);
}

.image-box:hover img {
    transform: scale(1.1);
}



.paddi{
    padding-left: 15px;
    padding-top: 12px;
}























/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media all and (min-width:320px)  {
    .title2{
        font-size: 250%;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
        color: #ececec;
        margin-bottom: -0.5rem;
        padding-top: 5px;
    } 
    .textu2{
        font-size: 136%;
        color: #ececec;
        padding: 30px;
        margin-left: 0;
        margin-bottom: 1.5em;
        padding-bottom: 0;
    }
    .hero-text{
        top: 30%;
    }
    .hero-image1{
        padding-top: 250px;
    }
    .menu {
        justify-content: center;
        width: 85%;
      }
      .responsive-table li {
        display: block;
    }
    .responsive-table .col {
        flex-basis: 100%;
    }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }
    .responsive-table .col:before {
        color: #000000BD;
        padding-right: 10px;
        content: attr(data-label);
        text-align: center;
        padding-left: 10px;
    }

    .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: grid;
        justify-content: space-between;
        margin-bottom: 25px;
    }    
    li.table-header{
        display: none;
    }


 }
/* smartphones, Android phones, landscape iPhone */ 
@media all and (min-width:480px)  {    
    .hero-text{
        font-size: 50%;
        top: 30%;
        padding-top: 2em;
    }   
    .col-6-2 {
        grid-template-columns: repeat(6, 1fr);
        grid-gap:1em;
    }
    .col-6-2 {
        grid-template-columns: repeat(6, 1fr);
        grid-gap:1em;
    }
}

@media all and (min-width:600px){
    .col-3{
        grid-template-columns: 1fr 1fr;
    }

    .title2{
        font-size: 250%;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
        color: #ececec;
        margin-bottom: -0.5rem;
        padding-top: 5px;
    }
    
    .textu2{
        font-size: 136%;
        color: #ececec;
        padding: 30px;
        margin-left: 0;
        margin-bottom: 1.5em;
        padding-bottom: 0;
    }
    .contasi{
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
    }



}

 /* Tablet menu */
 @media all and (min-width: 700px) {

    .title2{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 250%;
        margin-top: 2em;
        margin-left: 2em;
        text-align: left;
        color: #ececec;
        margin-bottom: -0.5rem;
        padding-top: 5px;
    }
    
    .textu2{
        font-size: 136%;
        color: #ececec;
        padding-top: 10px;
        margin-left: 2.5em;
        margin-bottom: 1.5em;
        padding-bottom: 20px;
    }
    .contasi{
        max-width: 50%;
        max-height: 50%;
    }




    .col-2-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  



    .rem{
        display: block !important; 
        visibility: visible !important;
    }

    .responsive-table .col:before{
        display: none;
    }
    .responsive-table .table-header {
        background-image:linear-gradient( to right, #FF4B0A,#FF0246);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .responsive-table li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .responsive-table .table-row {
        background-color: #fff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive-table .col-1 {
        flex-basis: 10%;
    }
    .responsive-table .col-2 {
        flex-basis: 40%;
    }
    .responsive-table .col-3 {
        flex-basis: 25%;
    }
    .responsive-table .col-4 {
        flex-basis: 25%;
    }
    .logo{
        padding: 0;
        margin-left: 2.5em;
    }
    .move{
        position: relative;
        margin-top: -7em;
        width:  75%;
        height: 126%;
        margin-left: 4.5em;
        z-index: 9;
    }

}
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .col-3{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-6f-2 {
        grid-template-columns: repeat(6, 1fr);
    }
    .col-6f {
        display: grid;
        row-gap: 1em;
    }
    .move{
        max-width:  75%;
    }
    .move2{
        padding-left: 6em;
    }
  }

  @media all and (min-width: 960px){
    .move{
        width: 75%;
    }
  }

  @media all and (min-width: 1500px){
    .move{
        max-width: 50%;
    }
}
@media all and (min-width: 1642px){
    .hero-image1{
        margin-top: 0.9em;
    }
}

